@import "tailwindcss";

@theme {
  --color-silver: #eeeeee;
  --color-crimson: #ff0000;
  --color-charcoal: #d9d9d9;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
